@CHARSET "UTF-8";

/*웹폰트*/
@font-face {
font-family:"NanumGothic"; 
src:url('/enipub-etss/resources/font/NanumGothic.eot');
src:url('/enipub-etss/resources/font/NanumGothic.eot?#iefix') format('embedded-opentype'),
    url('/enipub-etss/resources/font/NanumGothic.woff') format('woff'),
    url('/enipub-etss/resources/font/NanumGothic.ttf') format('truetype');
}
@font-face {
font-family:"NanumGothicBold"; 
src:url('/enipub-etss/resources/font/NanumGothicBold.eot');
src:url('/enipub-etss/resources/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
    url('/enipub-etss/resources/font/NanumGothicBold.woff') format('woff'),
    url('/enipub-etss/resources/font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
font-family:"NanumGothicExtraBold"; 
src:url('/enipub-etss/resources/font/NanumGothicExtraBold.eot');
src:url('/enipub-etss/resources/font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/enipub-etss/resources/font/NanumGothicExtraBold.woff') format('woff'),
    url('/enipub-etss/resources/font/NanumGothicExtraBold.ttf') format('truetype');
}
@font-face {
font-family:"MyriadPro"; 
src:url('/enipub-etss/resources/font/MyriadPro-Regular.eot');
src:url('/enipub-etss/resources/font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/enipub-etss/resources/font/MyriadPro-Regular.woff') format('woff'),
    url('/enipub-etss/resources/font/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
font-family:"Tsddo_M"; 
src:url('/enipub-etss/resources/font/Tsddo_M.eot');
src:url('/enipub-etss/resources/font/Tsddo_M.eot?#iefix') format('embedded-opentype'),
    url('/enipub-etss/resources/font/Tsddo_M.woff') format('woff'),
    url('/enipub-etss/resources/font/Tsddo_M.ttf') format('truetype');
}
